*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #777777;
  padding: 5rem;
}

.container {
  position: relative;
  z-index: 0;
  background: #F7F7F7;
}

@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #ffffff;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: LeftToRight;
  animation-duration: 1.7s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 200;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  margin-bottom: 6.5rem;
  animation-name: RightToLeft;
  animation-duration: 1.7s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}

.title-secondary {
  font-size: 3.6rem;
  letter-spacing: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
  backface-visibility: hidden;
}
.title-secondary:hover {
  transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary_white {
  color: #ffffff;
}

.title-third {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-25px {
  margin-bottom: 2.5rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  cursor: pointer;
  position: relative;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  font-size: 2rem;
  background: #ffffff;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.5, 1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background: #ffffff;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: BtnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #BA8554;
  padding: 1rem;
  border-bottom: 0.1rem solid #BA8554;
  transition: all 0.5s;
  display: inline-block;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #ffffff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  width: 55%;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 0;
  left: 0;
}
.composition__photo_n2 {
  top: 2rem;
  right: 0;
}
.composition__photo_n3 {
  top: 13rem;
  left: 10rem;
}
.composition__photo:hover {
  outline: 1rem solid #BA8554;
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.adventure-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  transition: all 0.2s;
}
.adventure-card:hover {
  transform: translateY(-1rem) scale(1.03);
}
.adventure-card__icon {
  display: inline-block;
  font-size: 6rem;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
}

.card-tour {
  position: relative;
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}
.card-tour__side {
  position: absolute;
  height: 50rem;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease-out;
  backface-visibility: hidden;
}
.card-tour__side_front {
  background: #ffffff;
}
.card-tour__side_back {
  transform: rotateY(180deg);
  background: linear-gradient(120deg, #BA8554, #A14F03);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  background-blend-mode: hard-light;
  height: 21rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.card-tour__img_1 {
  background: #BA8554 url("../../../img/card-1.jpg") center/cover no-repeat;
}
.card-tour__img_2 {
  background: #BA8554 url("../../../img/card-2.jpg") center/cover no-repeat;
}
.card-tour__img_3 {
  background: #BA8554 url("../../../img/card-3.jpg") center/cover no-repeat;
}
.card-tour__title {
  font-weight: 300;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 15.5rem;
  right: 0;
}
.card-tour__span {
  background: linear-gradient(90deg, #BA8554, #A14F03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3rem;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 0.3rem;
}
.card-tour__descr {
  margin-top: 4.5rem;
}
.card-tour__descr ul {
  list-style: none;
  text-align: center;
}
.card-tour__descr ul li {
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #777777;
  color: #777777;
}
.card-tour__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.card-tour__backSide-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-tour__text {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
  color: #ffffff;
  text-align: center;
}
.card-tour__text_desc {
  font-size: 1.6rem;
  font-weight: 300;
}
.card-tour__text_price {
  font-weight: 500;
  font-size: 6rem;
}

.feedBack-card {
  width: 85%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(330deg);
}
.feedBack-card > * {
  transform: skewX(-330deg);
}
.feedBack-card__img {
  width: 16.5rem;
  height: 16.5rem;
  background: #BA8554;
  float: left;
  border-radius: 100%;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.feedBack-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedBack-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: all 0.5s;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7));
}

.book {
  height: 50rem;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 57%, rgba(186, 133, 80, 0.8) 57%, rgba(161, 79, 3, 0.8) 100%), url(../../../img/bg-form.jpg) center/cover no-repeat;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}

.form {
  width: 60%;
  padding-top: 5rem;
  padding-left: 5rem;
}
.form__group:not(:last-child) {
  margin-bottom: 5rem;
}
.form__input {
  padding: 1.8rem 0 1.8rem 2.2rem;
  width: 55%;
  border: none;
  border-radius: 0.5rem;
  border-bottom: 0.3rem solid transparent;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  background-color: #ffffff;
}
.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66D763;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.form__input:focus:invalid {
  border-color: #D76363;
}
.form__label {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: all 0.7s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../../../img/header-bg.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  height: 7rem;
  width: 5.6rem;
  top: 5rem;
  left: 5rem;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.section-about {
  padding-top: 8rem;
  padding-bottom: 12.3rem;
}

.section-adventure {
  padding: 21rem 0;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../../../img/section-adventure.jpg") center/cover no-repeat;
  transform: skewY(7deg);
}
.section-adventure > * {
  transform: skewY(-7deg);
}

.section-tour {
  padding-top: 21rem;
  margin-bottom: 8rem;
}

.section-feedBack {
  position: relative;
  padding: 8rem 0;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, #BA8554, #A14F03);
}

/*# sourceMappingURL=style.css.map */
