body
  font-family: "Roboto", sans-serif
  font-weight: 400
  font-size: 1.6rem
  letter-spacing: .2rem

.title-first
  color: $color-white
  &__main
    display: block
    font-weight: 800
    font-size: 5rem
    letter-spacing: 1rem
    text-transform: uppercase
    margin-bottom: 1rem
    animation-name: LeftToRight
    animation-duration: 1.7s
    animation-delay: .5s
    animation-timing-function: ease
    backface-visibility: hidden
  &__secondary
    display: block
    font-weight: 200
    font-size: 4rem
    letter-spacing: .5rem
    margin-bottom: 6.5rem
    animation-name: RightToLeft
    animation-duration: 1.7s
    animation-delay: .5s
    animation-timing-function: ease
    backface-visibility: hidden